$focus: #2398ff;

.select{
    font-size: 14px;
    width: 100%;
}

/* begin react-select styles */

@keyframes :global(Select-animation-spin) {
    to {
        transform: rotate(1turn);
    }
}

.wrapHasError :global(.Select-control){
    border-color: #ff789d !important;
}

:global{
    .Select {
        position: relative;
        &.is-disabled{
            > .Select-control{
                background-color: #e9ebee;
                &:hover{
                    box-shadow: none;
                }
            }
            .Select-arrow-zone {
                cursor: default;
                pointer-events: none;
            }
        }
    }

    .Select-control {
        position: relative;
        overflow: hidden;
        background-color: #ffffff;
        border: 1px solid #d4d4d5;
        border-radius: 2px;
        box-sizing: border-box;
        color: #111;
        cursor: default;
        outline: none;
        padding: 7px 30px 7px 11px;
        &:hover {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        }
    }

    .is-searchable.is-open > .Select-control {
        cursor: text;
    }

    .is-open > .Select-control {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background: #ffffff;
        /*// border-color: #b3b3b3 #cccccc #d9d9d9;*/
        > .Select-arrow {
            border-color: transparent transparent #999999;
            border-width: 0 5px 5px;
        }
    }

    .is-searchable.is-focused:not(.is-open) > .Select-control {
        cursor: text;
    }

    .is-focused:not(.is-open) > .Select-control {
        border-color: $focus;
        box-shadow: 0 0 4px rgba($focus, .2);
    }

    .is-pseudo-focused:not(.is-open) > .Select-control {
        border-color: $focus;
        box-shadow: 0 0 4px rgba($focus, .2);
    }

    .has-value.is-pseudo-focused .Select-input{
        opacity: 0;
    }

    .Select-placeholder {
        color: #aaaaaa;
        padding: 8px 28px 8px 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: -15px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .has-value > .Select-control > .Select-placeholder {
        color: #333333;
    }

    .Select--single .Select-value {
        color: #1a1a1a;
        padding: 8px 52px 8px 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: -15px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .has-value > .Select-control > .Select-value {
        color: #333333;
    }

    .Select-input > input {
        cursor: default;
        background: none transparent;
        box-shadow: none;
        height: auto;
        border: 0 none;
        font-family: inherit;
        font-size: inherit;
        margin: 0;
        padding: 0;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
    }

    .is-focused .Select-input > input {
        cursor: text;
    }

    .Select-control:not(.is-searchable) > .Select-input {
        outline: none;
    }

    .Select-loading {
        -webkit-animation: Select-animation-spin 400ms infinite linear;
        -o-animation: Select-animation-spin 400ms infinite linear;
        animation: Select-animation-spin 400ms infinite linear;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        border-radius: 50%;
        border: 2px solid #cccccc;
        border-right-color: transparent;
        display: inline-block;
        position: relative;
        margin-top: -8px;
        position: absolute;
        right: 30px;
        top: 50%;
    }

    .has-value > .Select-control > .Select-loading {
        right: 46px;
    }

    .Select-clear {
        color: #999999;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        padding: 6px 10px;
        position: absolute;
        right: 17px;
        top: 0;
        &:hover {
            color: #c0392b;
        }
        > span {
            font-size: 1.1em;
        }
    }

    .Select-arrow-zone {
        content: " ";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 30px;
        cursor: pointer;
    }

    .Select-arrow {
        border-color: #999999 transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0;
        content: " ";
        display: block;
        height: 0;
        margin-top: -ceil(2.5px);
        position: absolute;
        right: 10px;
        top: 14px;
        width: 0;
        cursor: pointer;
    }

    .Select-menu-outer {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-top-color: #e6e6e6;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        margin-top: -1px;
        max-height: 200px;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1000;
        -webkit-overflow-scrolling: touch;
    }

    .Select-menu {
        max-height: 198px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: #f1f1f2;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #c3c3c7;
            outline: 1px solid #c3c3c7;
        }
    }

    .Select-option {
        box-sizing: border-box;
        color: #666666;
        cursor: pointer;
        display: block;
        padding: 8px 10px;
        &:last-child {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &.is-focused {
            background-color: color(#fff blend($focus 5%));
            color: #666666;
        }
        &.is-selected {
            background-color: color(#fff blend($focus 10%));
            color: #666;
        }
        &.is-disabled {
            color: #cccccc;
            cursor: not-allowed;
        }
    }

    .Select-noresults, .Select-search-prompt, .Select-searching {
        box-sizing: border-box;
        color: #999999;
        cursor: default;
        display: block;
        padding: 8px 10px;
    }

    .Select.is-multi {
        .Select-control {
            padding: 2px 52px 2px 3px;
        }
        .Select-input {
            vertical-align: middle;
            border: 1px solid transparent;
            margin: 2px;
            padding: 3px 0;
        }
    }

    .Select-item {
        background-color: #f2f9fc;
        border-radius: 2px;
        border: 1px solid #c9e6f2;
        color: #0088cc;
        display: inline-block;
        font-size: 1em;
        margin: 2px;
    }

    .Select-item-icon {
        display: inline-block;
        vertical-align: middle;
    }

    .Select-item-label {
        display: inline-block;
        vertical-align: middle;
        cursor: default;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        padding: 3px 5px;
        .Select-item-label__a {
            color: #0088cc;
            cursor: pointer;
        }
    }

    .Select-item-icon {
        cursor: pointer;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        border-right: 1px solid #c9e6f2;
        padding: 2px 5px 4px;
        &:hover, &:focus {
            background-color: $focus;
            color: #fff;
        }
        &:active {
            background-color: #c9e6f2;
        }
    }

    .Select.is-multi.is-disabled {
        .Select-item {
            background-color: #f2f2f2;
            border: 1px solid #d9d9d9;
            color: #888888;
        }
        .Select-item-icon {
            cursor: not-allowed;
            border-right: 1px solid #d9d9d9;
            &:hover, &:focus, &:active {
                background-color: #f2f2f2;
            }
        }
    }

    .Select--multi {

        .Select-value {
            background-color: #ebf5ff;
            background-color: rgba(0, 126, 255, 0.08);
            border-radius: 2px;
            border: 1px solid rgba(0, 126, 255, 0.24);
            color: #007eff !important;
            display: inline-block;
            font-size: 13px;
            line-height: 1.4;
            margin-left: 5px;
            margin-top: 5px;
            vertical-align: top;
            padding: 2px;
        }


        .Select-value-icon {
            cursor: pointer;
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
            border-right: 1px solid #c2e0ff;
            border-right: 1px solid rgba(0, 126, 255, 0.24);
            padding: 1px 5px 3px;
        }

        .Select-value-label {
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
            cursor: default;
            padding: 2px 5px;
        }

        a.Select-value-label {
            color: #007eff;
            cursor: pointer;
            text-decoration: none;
        }

        /*// .Select-input {
        //     vertical-align: middle;
        //     margin-left: 10px;
        //     padding: 0;
        // }*/

        &.has-value{
            .Select-control{
                padding: 5px 52px 7px 5px;
            }
            .Select-input {
                margin-left: 5px;
                margin-top: 5px;
            }
        }
    }
}

/* end react-select styles */


.select-minimal{
    font-size: 12px;

    :global{
        .Select--single .Select-value{
            position: relative;
            padding: 0;
            right: 0;
            text-transform: uppercase;
            font-weight: 600;
            color:
        }
        .Select-control{
            padding: 4px 20px 4px 8px;
            border: 0;
            opacity: .4;
            transition: .1s;
            box-shadow: none;

            &:hover{
                opacity: .66;
            }
        }
        .Select.is-open .Select-control{
            opacity: .66;
        }
        .Select-input{
            position: absolute;
        }
        .Select-arrow-zone{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
        }
    }

}
